.App {
    width: 80%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px;
}

.student-area-main {
    display: flex;
    flex-wrap: wrap;
    div {
        
        width: 10%;
        background-color: lightgray;
        border-style: solid;
        border-width: 1px;
        margin: 1em;
        height: 25px;
        text-align: center;
        line-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    input {
        width: 10%;
        background-color: whitesmoke;
        border-style: solid;
        border-width: 1px;
        margin: 1em;
        height: 25px;
        text-align: center;   
    }
}

.team-area {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            background-color: rgb(234, 84, 85);
            color: white;
            border-style: none;
            height: 30px;
            width: 12%;
            margin-right: 15px;
        }
    }
}
.team-row {
    border-style: solid;
    border-color: rgb(146, 155, 171);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;;
    input {
        width: 99.8%;
        text-align: center;
        background-color: rgb(146, 155, 171);
        color: white;
        height: 25px;
        border-style: none;
        border-radius: 0%;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        div {
        
            width: 9%;
            background-color: lightgray;
            border-style: solid;
            border-width: 1px;
            margin: 1em;
            height: 25px;
            text-align: center;
            line-height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

h1 {
    margin-left: 15px;
    font-size: 2em;
}