.add-trainee-view {
    width: 80%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px;
    padding-top: 100px;
}

#add-val {
    width: 70%;
    margin: 0 auto;
}

#cancel-btn {
    margin-left: 20px;;
}
