@import '../../style/variables';

.App {
    width: 80%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px;
}

.trainee-area-main {
    display: flex;
    flex-wrap: wrap;
}

.add-trainee {
    width: 10%;
    background-color: $light-gray;
    border: 1px solid $gray;
    margin: 1em;
    height: 25px;
    text-align: center;   
}

.trainee-tag {
    @extend .add-trainee;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid whitesmoke;
}

.trainer-area-main {
    display: flex;
    flex-wrap: wrap;
}

.add-trainer {
    @extend .add-trainee;
}

.trainer-tag {
    @extend .trainee-tag;
}

.group-area {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            background-color:$primary-color;
            color: white;
            border-style: none;
            height: 30px;
            width: 12%;
            margin-right: 15px;
        }
    }
}
.group-row {
    border-style: solid;
    border-color: rgb(146, 155, 171);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.group-row-main {
    display: flex;
    flex-wrap: wrap;
}

.group-row-header {
    background-color:$gray;
    display: flex;
    align-items: center;
    justify-content: flex-end ;
}

.group-name {
    justify-self: center;
    width: min-content;
    text-align: center;
    background-color:$gray;
    color: white;
    height: 25px;
    border-style: none;
    border-radius: 0%;
    margin-right: 15%;
}

h1 {
    margin-left: 15px;
    font-size: 2em;
}